<div class="contenedor">

    <header class="header margen-interno">
        <div class="menu">
            <div class="logo">
                <a href="index.html"> <img src="assets/logo_full_color.svg" alt=""></a>
            </div>
            <div class="social"></div>
            <nav class="nav">
                <a href="#">Inicio</a>
                <a (click)="scroll(target)" >Beneficios</a>
                <input *ngIf="!loggedIn"  type="button" class="button-R" (click)="registrarse()" value="Registrarse">
                <!-- *ngIf="!loggedIn" -->
            </nav>
        </div>
        <div class="bienvenida">
            <div class="texto-bienvenida">
               <p>
                Bienvenido a tu <b> Entrevista Técnica </b> en <span>Wolox</span> 
               </p> 
             </div>
            <div class="img-bienvenida"><img src="assets/Img Hero/Ic_ilustra_Hero@2x.png" alt=""></div>
        </div>
    </header>
    <div class="section margen-interno">
            <div class="siguenos">
                <div class="woloxer">
                    <p>
                         <span class="greenw">350 + </span> <span class="bluew">Woloxers</span> 
                       </p> 
                </div>
                <div class="twitter"> <img src="assets/twitter.svg" alt=""> @ Wolox </div>
                <div class="bSiguenos">
                    <!-- <input type="button" class="button-S" value="Siguenos"> -->
                    <a href="https://twitter.com/Wolox" class="button-S">Siguenos</a>
                </div>
               
            </div>
            <div class="trabajamos">
                <p>
                    Trabajamos para  <span class="bluew">convertir</span>   <span class="greenw"> ideas</span>  
                    en productos
                </p> 
            </div>
    </div>
    <div  #target class="beneficiosB margen-interno">
        <div class="ofrecen">
            <div class="texto-beneficios">
                <p>
                    Entre los beneficios que ofrecemos se encuentran <span class="bluew">;)</span>    
                </p> 
            </div>
        </div>
        <div class="iconos">
            <div class="icono"><img src="assets/Ic_Hour.svg" alt=""> <div>Flexibilidad horaria</div></div>
            <div class="icono"><img src="assets/Ic_HomeOffice.svg" alt=""> <div>Home office</div></div>
            <div class="icono"><img src="assets/Ic_Workshops.svg" alt=""> <div>Capacitaciones y workshops</div></div>
            <div class="icono"><img src="assets/Ic_DrinkSnacks.svg" alt=""> <div>Snaps, frutas y bebidas gratis</div></div>
            <div class="icono"><img src="assets/Ic_laptop.svg" alt=""> <div>Semana Remota</div></div>
            <div class="icono"><img src="assets/Ic_brain.svg" alt=""> <div>Trabajar en ultimas tecnologías</div></div>
           
        </div>
     

    </div>
    <hr>
    
    <footer class="footer margen-interno">
        <div class="pie">
            <p>
               <strong> Gracias por</strong> <span class="bluew"> completar el ejercicio</span> 
            </p> 
        </div>
        <div class="pie2">
            <p>
                te invitamos a ver más información
            </p> 
        </div>
        <div class="bSiguenos">
            <a href="https://www.wolox.com.ar/" class="button-C">Conocer más</a>
        </div>
        <div class="endWolox">
            Wolox
        </div>

    </footer>
</div>